body
{
    margin:0;
}


.add_product_panel
{
    animation:opacitychange 2.5s;
    padding-top:20px;
    padding-bottom: 30px;
    transition: 1s;
    width: 100%;
    min-height: 500px;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left:0;
    margin-right:0;
    color:black;

    margin:0;
}




.add_product_textarea
{
    text-align:justify;
    padding:20px;
    width:300px;
    resize: none;
    margin-bottom:10px;
    background-color: white;
height: 70px;
border:solid #354430 1px;
color:black;
border-radius:5px;
}
.add_product_input
{
    width:200px;
margin-bottom:10px;
text-align: center;
background-color: white;
height: 30px;
border:solid #354430 1px;
color:black;
border-radius:10px;

}

.photo_edit
{
width:30%;
}

.alert {
    background: linear-gradient(to right, #a73737, #973232);
    color:#deebdb;
    margin: 20px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px
  }

  .pp:hover
  {
      filter:brightness(1)!important;
      cursor:auto!important;
  }

.alert_green
{
    background:none;
    color:#1b211d;
    font-size:xx-large;
}

.product_panel_e
{
    width:50%;
    margin:auto;
}

h2
{
    color:#354430;
}

.product_panel_p
{

   font-size:20px;
}

.add_product_button
{

    cursor:pointer;
    border-radius:100px;
    width:150px;
    border:solid #354430 1px;
    height: 50px;
    background-color:#40513B;
    margin:20px;
    color:#d4e9cf;
    font-weight: bold;
    transition:0.5s;
}
.add_product_button:hover
{
    background-color:#5a6c55;
}

