html
body
{
    margin:0;
    padding:0;
}

.product_buy_main_container {

    animation:opacitychange 2.5s;
    padding-bottom: 20px;
    transition: 1s;

    width: 100%!important;
    height: 100%;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    bottom: 0;
    right: 0;
  }


  .product {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:80%;
    margin: 20 auto;

    padding: 20px;
    padding-top:40px;
    padding-bottom:40px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product img {
    width: 80%!important;
    max-height: 50vh;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;

}

.product_image {
    flex-basis: 50%;
}

.product_content {
    flex-basis: 50%;
}

.photo_p
{
    transition:0.5s;
}
.photo_p:hover
{
    filter:brightness(1.2);
    cursor:pointer;
}

.product h2 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.product .price {
    font-size: 18px;
    color:#2d3a30;
    margin-top: 5px;
}

.product p {
    margin: 10px 0;
}

.product .description {
    color:#2d3a30;
}


.author
{
    color:#2d3a30;
}


.price_name
{
    font-size:25px;
}

.author_name
{
    color:#666;
}
.confirm
{
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}
.buy_button
{
  text-align: center;
    cursor:pointer;
    border-radius:100px;
    width: 200px !important;
    border:solid #354430 1px;
    height: 50px;
    background-color:#40513B;
    margin:20px;
    color:#ecf5ea;
    font-weight: bold;
    transition:0.5s;
}

.buy_button:hover
{
    background-color:#5a6c55;
}

.bottom_color
{
    color:#b3927d;
}


.delivery, .comment, .payment {
    color: #333;
    width: 100%;
    margin: 0 auto;

    padding-top:40px;
    padding-bottom:40px;
    border-radius: 5px;

}

.form_wrapper {
    max-width: 300px;
    margin: 0 auto;

    border-radius: 5px;
}

.form_wrapper h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.form_label {
    display: block;
    margin-bottom: 10px;
}

.form_label span {
    display: inline-block;
    width: 120px;
    font-weight: bold;
}

.form_input,
.form_textarea {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    resize:none;
}

.form_button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
